.logoImage {
    width: 100px !important;
    height: 100px !important;
    max-width: 100px !important;
    max-height: 100px !important;
    margin-top: -50px !important;
    margin-left: -50px !important;
    border-radius: 25% !important;
}