.slideArrow:hover {
    cursor: pointer;
    font-size: 5em;
    transition: all 0.15s ease-in-out;
}

.slideArrow {
    font-size: 4em;
    transition: all 0.15s ease-in-out;
}

.slideShow {
    -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}